{% extends '::base.html.twig' %}
	{% block title %}Centro Logístico - Gestor de cocina {% endblock %}
	{% block stylesheet %} 
		{{ parent() }}
		<link type='text/css' rel='stylesheet' href="{{ asset('public/css/bootstrap-wizard.css') }}">
		<link type='text/css' rel='stylesheet' href="{{ asset('public/css/bootstrap-switch.css') }}">
		<link type='text/css' rel='stylesheet' href="{{ asset('public/css/jquery.dataTables.css') }}">
		
	{% endblock %}
		{% block body %}


	<div class="container">	
	<div id="dataSwitch"></div>
	<div id="url_ini" data-url="{{path('inicio')}}"></div>
		<div class="row row-grid">
			<div class="col-md-12">
				<button  data-href="{{path('nuevo_producto')}}" class="btn btn-primary complement-1-b">
					Nuevo Producto
				</button>
			</div>
	 	</div>
		<div id="productos" class="panel panel-primary panel-view" data-url="{{ path('verproductos') }}" data-user="{{ app.user.id }}" data-tipo="all_productos">
		<div class="panel-heading complement-1-b">
		 	<span>Almacén</span>
		 	<div class='btn-group pull-right dropdown-head-panel'>
							<input type="checkbox" class="toggleviews" data-target="productos" checked>
						</div>
	 	</div>
	 	<div class="panel-body">
	 		<div class='row row-grid' id="cont_productos">
	 		{% for producto in productos %}
	 			<div class="col-sm-6 col-md-3">
	 				<figure>
 						<img src="{{ asset(producto.foto) }}">
 							<figcaption>
 								<a href="">{{ producto.nombre }}</a>
 								<table class="table info_hide">
 									<tr>
 										<td>Precio</td>
 										<td>{{ producto.precio }} € / {{ producto.unidadCompra }} {{ producto.unidad }}</td>
									</tr>
									<tr>
									<td>Stock</td>
									<td>{{ producto.stock }}  {{ producto.unidad }}</td>
									</tr>
									<tr>
									<td>Stock mínimo</td>
									<td>{{ producto.stockMin }} {{ producto.unidad }}<span class="pr_total"></span></td>
									</tr>
									<tr>
										<td colspan="2">
											<div class="btn-group btn-group-sm">
												<button data-href="{{ path('mod_producto', { 'producto': producto.id }) }}" class="btn btn-primary complement-1-b">
													<span class="glyphicon glyphicon-edit"></span>
													<span class="visible_lg"> Editar</span>
												</button>
												<button data-href="{{ path('borrar_producto', { 'producto': producto.id }) }}" data-type="delete" class="btn btn-danger">
													<span class="glyphicon glyphicon-trash"></span><span class="visible_lg"> Borrar</span>
												</button>
											</div>
										</td>
									</tr>
								</table>
							</figcaption>
						</figure>
					</div>
					{% endfor %}

	 			
				</div> {# end row grid#}
				<div id="allproductos" data-user="NULL" data-url="{{ path('verproductos') }}" data-tipo="all_productos"></div>
		 	</div>
		</div>

	
	</div>
	{% endblock %}
    {% block javascript %}
        {{ parent() }}
        	<script type="text/javascript" src="{{ asset('public/js/jquery.confirm.js') }}"></script>
			<script type="text/javascript" src="{{ asset('public/js/bootstrap-switch.js') }}"></script>
        	<script type="text/javascript" src="{{ asset('public/js/jquery.dataTables.js') }}"></script>
        	
        	<script type="text/javascript" src="{{ asset('public/js/datatable.js') }}"></script>
			<script type="text/javascript" src="{{ asset('public/js/efectos.js') }}"></script>
			<script type="text/javascript" src="{{ asset('public/js/acciones.js') }}"></script>
			
    {% endblock %}