{% extends '::base.html.twig' %}
	{% block title %}Centro Logístico - Gestor de cocina {% endblock %}
	{% block stylesheet %} 
		{{ parent() }}
		<link type='text/css' rel='stylesheet' href="{{ asset('public/css/bootstrap-wizard.css') }}">
		
	{% endblock %}
		{% block body %}
<div class='navbar navbar-default complement-1-b'>
			<div class='container'> 
				<div class='navbar-header'>
					<button class='navbar-toggle' type='button', data-toggle='collapse', data-target='.navbar-collapse'>
						<span class='icon-bar'></span>
						<span class='icon-bar'></span>
						<span class='icon-bar'></span>
					</button>
					<a class='navbar-brand' href='#'> Gestor de cocina</a>
				</div>
				<div class='navbar-collapse collapse'>
					<ul class='nav navbar-nav menu'>
							<li>
								<a href="{{ path('inicio') }}"> Inicio</a>
							</li>
						{% if is_granted('ROLE_USER') %}
							<li>
								<a href="{{ path('recetas') }}"> Mis Recetas</a>
							</li>
						{% endif %}
						
						{% if is_granted('ROLE_ADMIN') %}
							<li>
								<a href="{{ path('centro_log') }}"> Centro Logístico</a>
							</li>
						
							<li  class='active'>
								<a href="{{ path('almacen') }}"> Almacén</a>
							</li>
						{% endif %}
					</ul>
					<ul class='nav navbar-nav navbar-right menu-user'>
						{% if app.user %}
								<li class='dropdown'>
									<a href="#" data-toggle="dropdown" class='dropdown-toggle'>
										<span class='glyphicon glyphicon-user'></span>  
										<span>Usuario: <strong>{{ app.user.nombre }}</strong></span>
										<span class='caret caret-white'></span>
									</a>
									<ul class='dropdown-menu complement-1-b'>
										<li>
											<a href="{{ path('perfil') }}"> 
												<span class='glyphicon glyphicon-user'></span>
												<span>   Perfil</span>
											</a>
										</li>
										<li>
											<a href="{{ path('logout') }}">
												<span class='glyphicon glyphicon-off'></span>
												<span>   Cerrar Sesión</span>
											</a>
										</li>
									</ul>
								</li>
							{% else %}
								<li><a class="underline" href="{{ path('login') }}">Login</a></li>
		        				<li><a href="">|</a></li>
		        				<li><a class="underline" href="{{ path('registro') }}">Registro</a></li>
							{% endif %}
					</ul>
				</div>
			</div>
		</div>

	<div class="container">	
		<div class="row row-grid">
			<div class="col-md-12">
				<button  data-href="{{path('nuevo_producto')}}" class="btn btn-primary complement-1-b">
					Nuevo Producto
				</button>
			</div>
	 	</div>
		<div id="panel-grid" class="panel panel-primary panel-view">
		<div class="panel-heading complement-1-b">
		 	<span>Almacén</span>
		 	<div class="btn-group pull-right dropdown-head-panel">
			 	<button type="button" data-toggle="dropdown" class="btn btn-primary dropdown-toggle complement-1-b">Ordenar  
			 		<span class="caret"></span>
			 	</button>
		 	<ul role="menu" class="dropdown-menu">
			 	<li>
			 		<a href="#">Ordenar por:</a>
			 	</li>
			 	<li class="divider"></li>
			 	<li>
			 		<a href="#">Tipo</a>
			 	</li>
		 		<li>
		 		<a href="#">Fecha</a>
		 		</li>
	 		</ul>
		 	</div>
	 	</div>
	 	<div class="panel-body">
	 		<div class="row row-grid">
	 		{% for producto in productos %}
	 			<div class="col-sm-6 col-md-3">
	 				<figure>
 						<img src="{{ asset(producto.foto) }}">
 							<figcaption>
 								<a href="">{{ producto.nombre }}</a>
 								<table class="table info_hide">
 									<tr>
 										<td>Precio</td>
 										<td>{{ producto.precio }} € / {{ producto.unidadCompra }} {{ producto.unidad }}</td>
									</tr>
									<tr>
									<td>Stock</td>
									<td>{{ producto.stock }}  {{ producto.unidad }}</td>
									</tr>
									<tr>
									<td>Stock mínimo</td>
									<td>{{ producto.stockMin }} {{ producto.unidad }}<span class="pr_total"></span></td>
									</tr>
									<tr>
										<td colspan="2">
											<div class="btn-group btn-group-sm">
												<button data-href="{{ path('mod_producto', { 'producto': producto.id }) }}" class="btn btn-primary complement-1-b">
													<span class="glyphicon glyphicon-edit"></span>
													<span class="visible_lg"> Editar</span>
												</button>
												<button data-href="{{ path('borrar_producto', { 'producto': producto.id }) }}" data-type="delete" class="btn btn-danger">
													<span class="glyphicon glyphicon-trash"></span><span class="visible_lg"> Borrar</span>
												</button>
											</div>
										</td>
									</tr>
								</table>
							</figcaption>
						</figure>
					</div>
				{% endfor %}
	 			
				</div>
		 	</div>
		</div>

	
	</div>
	{% endblock %}
    {% block javascript %}
        {{ parent() }}
        	<script type="text/javascript" src="{{ asset('public/js/jquery.confirm.js') }}"></script>
			<script type="text/javascript" src="{{ asset('public/js/efectos.js') }}"></script>
			<script type="text/javascript" src="{{ asset('public/js/acciones.js') }}"></script>
			
    {% endblock %}