{% extends '::base.html.twig' %}
	{% block title %}Nuevo Producto - Gestor de cocina {% endblock %}
	{% block stylesheet %} 
		{{ parent() }}
		<link type='text/css' rel='stylesheet' href="{{ asset('public/css/bootstrap-wizard.css') }}">
		
	{% endblock %}
		{% block body %}
		<button id="open-wizard" class="btn btn-primary">
			Open wizard
		</button>
		<div class="wizard" id="some-wizard" data-title="Añadir producto">
		 
		    <h1 class="wizard-title">Wizard Title</h1>
		 
		    <div class="wizard-card" data-cardname="Paso 1">
		        <h3>Datos básicos</h3>
		        Some content
		    </div>
		 
		    <div class="wizard-card" data-cardname="card2">
		        <h3>Unidad de compra</h3>
		        Some other content
		    </div>
		    <div class="wizard-card" data-cardname="card3">
		        <h3>Precio / unid. compra</h3>
		        Some other content
		    </div>
		    <div class="wizard-card" data-cardname="card4">
		        <h3>Stock y Stock Mínimo</h3>
		        Some other content
		    </div>
		 
		</div>

{% endblock %}
    {% block javascript %}
        {{ parent() }}
        	<script type="text/javascript" src="{{ asset('public/js/bootstrap-wizard.js') }}"></script>
			<script type="text/javascript" src="{{ asset('public/js/efectos.js') }}"></script>
			<script type="text/javascript" src="{{ asset('public/js/acciones.js') }}"></script>
			<script type="text/javascript" src="{{ asset('public/js/config_wizard.js') }}"></script>
    {% endblock %}