{% extends '::base.html.twig' %}
	{% block title %}Centro Logístico - Gestor de cocina {% endblock %}
	{% block stylesheet %} 
		{{ parent() }}
		<link type='text/css' rel='stylesheet' href="{{ asset('public/css/admin.css') }}">
		
	{% endblock %}

		{% block body %}
	
	<div class="admin">
		<div class="col-md-2 complement-1-b">
			<div class="complement-1-b side-bar-admin">				
				<ul class="nav navbar-nav side-nav">
					<li class="active">
						<a href="#" id="pedidos">
							<span class="glyphicon glyphicon-inbox"></span>
							<span> Pedidos</span>
						</a>
					</li>
					<li>
						<a href="#usuarios" id="usuarios">
							<span class="glyphicon glyphicon-user"></span>
							<span> Gestion de usuarios</span>
						</a>
					</li>
					<li >
						<a href="#" id="categorias">
							<span class="glyphicon glyphicon-dashboard"></span>
							<span>Gestion de categorías</span>
						</a>
					</li>
				</ul>
			</div>
		</div>
		<div class="col-md-10">
			<div class="row">
				<div id="mod_pedidos" class="mod col-md-11">
					<div id="accordion" class="panel-group">
						<div class="panel panel-primary">
							<div class="panel-heading complement-1-b">
								<h4 class="panel-title">
								<a data-toggle="collapse" data-parent="#accordion" href="#collapse_1">
									<strong>
										<span class="glyphicon glyphicon-download-alt"> </span>
										<span>  Solicitudes de productos</span>
									</strong>
								</a>
								</h4>
							</div>
							<div id="collapse_1" class="panel-collapse collapse">
								<div class="panel-body">
									<div class="row">
										<div class="col-md-12">
											<div class="table-responsive">
												<table class="table">
													<thead>
														<tr>
															<th class="col-md-3">Producto</th>
															<th class="col-md-2">Cantidad</th>
															<th class="col-md-2">Fecha</th>
															<th class="col-md-3">Solicitante</th>
															<th class="col-md-2">Opciones</th>
														</tr>
													</thead>
													<tbody>
													<div>	
													{% for solicitud in solicitudes %}
														<tr id="solicitud_{{solicitud.id}}" class="solicitud">
															<td class="nombre" data-nombre='{{solicitud.producto.nombre}}'
															data-id="{{solicitud.producto.id}}"><a href="#" >
																	<span class="glyphicon glyphicon-file"></span>
																	<span class="ped-tit"> {{solicitud.producto.nombre}}</span>
															</a></td>
															<td class="cantidad" data-unidad='{{solicitud.producto.unidad}}' data-cantidad='{{solicitud.cantidad}}'>{{solicitud.cantidad}} {{solicitud.producto.unidad}}</td>
															<td>{{solicitud.fecha|date("d/m/Y")}}</td>
															<td>{{solicitud.usuario.nombre}}</td>
															<td>
																<div class="btn-group btn-group-sm">
																	<button id="button_{{solicitud.id}}" data-id="{{solicitud.id}}" data-agregado="false"data-idprod="{{solicitud.producto.id}}" type="button" class="agregarProd btn btn-primary">
																		<span class="glyphicon glyphicon-plus"></span>
																	</button>
																	<button data-id="{{solicitud.id}}" data-idprod="{{solicitud.producto.id}}" data-cant="{{solicitud.cantidad}}" data-und="{{solicitud.producto.unidad}}" type="button" class="elimProd btn btn-danger">
																		<span class="elim_pro glyphicon glyphicon-remove"></span>
																	</button>
																</div>
															</td>
														</tr>
													{% else %}
															<tr>
																<td colspan="4"><a href="#">No hay solicitudes pendientes.</a></td>
															</tr>
														{% endfor %}
													</div>
														
													</tbody>
												</table>
											</div>
											<div>
												<button type="button" id="generarPed" class="btn btn-primary complement-1-b" >Generar Pedido</button>
												<div class="btn-group pull-right">
													<button type="button" onclick="agrTodos()" class="btn btn-primary complement-1-b ">Agregar Todos</button>
													<button type="button" onclick="borrarTodos()" class="btn btn-primary complement-1-b ">Borrar Todos</button>
												</div>
											</div>
											
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="panel panel-danger">
							<div class="panel-heading">
								<h4 class="panel-title">
								<a data-toggle="collapse" data-parent="#accordion" href="#collapse_2">
									<strong>
										<span class="glyphicon glyphicon-warning-sign"> </span>
										<span>  Pedidos Pendientes</span>
									</strong>
								</a>
								</h4>
							</div>
							<div id="collapse_2" class="panel-collapse collapse">
								<div class="panel-body">
									<div class="row">
										<div class="col-md-12">
											<div class="table-responsive">
												<table class="table">
													<thead>
														<tr>
															<th class="col-md-4">Pedido</th>
															<th class="col-md-3">Fecha</th>
															<th class="col-md-3">Creador</th>
															<th class="col-md-2">Opciones</th>
														</tr>
													</thead>
													<tbody id="ped_pendientes">
													{% for pedido in pedidos if pedido.estado == "pendiente" %}
														<tr id="pedPend_{{pedido.id}}">
															<td>
															<a href="#" data-id="{{pedido.id}}" data-url="{{path('findPedido')}}" class="showPedido" data-fecha="{{pedido.fecha|date("d/m/Y")}}" data-usu="{{pedido.creador.nombre}} {{pedido.creador.apellidos}}">
																<span class="glyphicon glyphicon-file"></span>
																<span class="ped-tit"> Pedido pendiente {{pedido.id}}</span>
															</a></td>
															<td class="fecha_pend">{{pedido.fecha|date("d/m/Y")}}</td>
															<td class="usu_pend">{{pedido.creador.nombre}} {{pedido.creador.apellidos}}</td>
															<td>
																<div class="btn-group btn-group-sm">
																	<button type="button" class="btn btn-primary edit_pend" data-id="{{pedido.id}}" data-url="{{path('findPedido')}}">
																		<span class="glyphicon glyphicon-edit"></span>
																	</button>
																	<button type="button" class="btn btn-danger del_ped" data-id="{{pedido.id}}" data-url="{{path('delPedido')}}">
																		<span class="glyphicon glyphicon-trash"></span>
																	</button>
																</div>
															</td>
														</tr>
														{% else %}
															<tr>
																<td colspan="4"><a href="#">No hay pedidos pendientes</a></td>
															</tr>
														{% endfor %}	
													</tbody>
												</table>
											</div>
											
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="panel panel-warning">
							<div class="panel-heading">
								<h4 class="panel-title">
									<a data-toggle="collapse" data-parent="#accordion" href="#collapse_3">
										<strong>
											<span class="glyphicon glyphicon-export"> </span>
											<span>  Pedidos Enviados</span>
										</strong>
									</a>
								</h4>
							</div>
							<div id="collapse_3" class="panel-collapse collapse">
								<div class="panel-body">
									<div class="row">
										<div class="col-md-12">
											<div class="table-responsive">
												<table class="table">
													<thead>
														<tr>
															<th class="col-md-4">Pedido</th>
															<th class="col-md-3">Fecha</th>
															<th class="col-md-3">Creador</th>
															<th class="col-md-2">Opciones</th>
														</tr>
													</thead>
													<tbody id="ped_enviado">
													{% for pedido in pedidos if pedido.estado == "enviado" or pedido.estado == "validado" %}
														<tr id="pedEnv_{{pedido.id}}">
															<td>
															<a href="#" data-id="{{pedido.id}}" data-url="{{path('findPedido')}}" class="showPedido" data-fecha="{{pedido.fecha|date("d/m/Y")}}" data-usu="Usuario 1">
																<span class="glyphicon glyphicon-file"></span>
																<span class="ped-tit"> Pedido enviado {{pedido.id}}</span>
															</a></td>
															<td class="fecha_env">{{pedido.fecha|date("d/m/Y")}}</td>
															<td class="usu_env">{{pedido.creador.nombre}} {{pedido.creador.apellidos}}</td>
															<td>
																<div class="btn-group btn-group-sm">
																	<button type="button" class="btn btn-primary edit_enviado" data-id="{{pedido.id}}" data-url="{{path('findPedido')}}" data-fecha="{{pedido.fecha|date("d/m/Y")}}" data-usu="Usuario 1">
																		<span class="glyphicon glyphicon-edit"></span>
																	</button>
																	{# <button type="button" class="btn btn-danger del_ped" data-id="{{pedido.id}}" data-url="{{path('delPedido')}}" >
																		<span class="glyphicon glyphicon-trash"></span>
																	</button> #}
																</div>
															</td>
														</tr>
														{% else %}
															<tr>
																<td colspan="4"><a href="#">No hay pedidos enviados</a></td>
															</tr>
														{% endfor %}	
													
													</tbody>
												</table>
											</div>
											
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="panel panel-success">
								<div class="panel-heading">
									<h4 class="panel-title">
										<a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
											<strong>
												<span class="glyphicon glyphicon-import"> </span>
												<span>  Pedidos Recibidos</span>
											</strong>
										</a>
									</h4>
								</div>
							<div id="collapseThree" class="panel-collapse collapse">
								<div class="panel-body"><div class="row">
									<div class="col-md-12">
										<div class="table-responsive">
											<table class="table">
												<thead>
													<tr>
														<th class="col-md-4">Pedido</th>
														<th class="col-md-3">Fecha</th>
														<th class="col-md-3">Creador</th>
														<th class="col-md-2">Opciones</th>
													</tr>
												</thead>
												<tbody>
													{% for pedido in pedidos if pedido.estado == "recibido" or pedido.estado == "validado" %}
														<tr id="pedRecb_{{pedido.id}}">
															<td>
															<a href="#" data-id="{{pedido.id}}" data-url="{{path('findPedido')}}" class="showPedido" data-fecha="{{pedido.fecha|date("d/m/Y")}}" data-usu="{{pedido.creador.nombre}} {{pedido.creador.apellidos}}" data-toggle="tooltip" data-placement="bottom" title="Ver pedido">
																<span class="glyphicon glyphicon-file"></span>
																<span class="ped-tit"> Pedido recibido {{pedido.id}}</span>
															</a></td>
															<td class="fecha_recib">{{pedido.fecha|date("d/m/Y")}}</td>
															<td class="usu_recib">{{pedido.creador.nombre}} {{pedido.creador.apellidos}}</td>
															<td>
															{% if pedido.estado == "recibido"%}
																<div class="btn-group btn-group-sm">
																	<button id="validar_pedido" data-id="{{pedido.id}}" data-url="{{path('validarPedido')}}" class="btn btn-success" data-toggle="tooltip" data-placement="bottom" title="Validar pedido">
																		<span class="glyphicon glyphicon-ok"></span>
																	</button>
																	<button type="button" class="btn btn-primary edit_recibido" data-id="{{pedido.id}}" data-url="{{path('findPedido')}}" data-toggle="tooltip" data-placement="bottom" title="Editar pedido">
																		<span class="glyphicon glyphicon-edit"></span>
																	</button>
																	<button type="button" class="btn btn-danger del_ped" data-id="{{pedido.id}}" data-url="{{path('delPedido')}}" data-toggle="tooltip" data-placement="bottom" title="Borrar pedido">
																		<span class="glyphicon glyphicon-trash"></span>
																	</button>
																</div>
															{% else %}
															<span class="label label-success">
																{# <a href="">Pedido validado</a> #}
																<span class="glyphicon glyphicon-ok"></span> Pedido validado
															</span>

																
															{% endif %}

															</td>
														</tr>
														{% else %}
															<tr>
																<td colspan="4"><a href="#">No hay pedidos recibidos</a></td>
															</tr>
														{% endfor %}	
												</tbody>
											</table>
										</div>
										
									</div>
								</div>
								</div>
							</div>
						</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div id="mod_usuarios" style="display:none" class="mod col-md-10">
				<div id="panel-grid" class="panel panel-primary panel-view">
					<div class="panel-heading complement-1-b">
						<span> 
							<strong>Gestion de Usuarios</strong>
						</span>
					</div>
				<div class="panel-body">
					<div class="row">
						<div class="col-md-12">
							<div class="table-responsive">
												
								<table class="table table-hover">
									<thead>
										<tr>
											<th class="col-sm-6 col-md-2">Nombre</th>
											<th class="col-sm-6 col-md-2">Apellidos</th>
											<th class="col-sm-6 col-md-1">Usuario</th>
											<th class="col-sm-6 col-md-1">Email</th>
											<th class="col-sm-6 col-md-1">Registro</th>
											<th class="col-sm-6 col-md-1">Tipo</th>
											{% if is_granted('ROLE_SUPER_ADMIN') %}
												<th class="col-sm-4 col-md-1">Opciones</th>
											{% endif %}
										</tr>
									</thead>
									<tbody>
									{% for usuario in usuarios %}
										<tr data-id="{{usuario.id}}">
											<td>{{usuario.nombre}}</td>
											<td>{{usuario.apellidos}}</td>
											<td>{{usuario.username}}</td>
											<td>{{usuario.email}}</td>
											<td>{{usuario.fechaRegistro|date("d/m/Y")}}</td>
											{% for roles in usuario.roles %}
												{% if roles == "ROLE_USER" %}
													<td>Usuario</td>
												{% elseif roles == "ROLE_ADMIN" %}
													<td>Admin</td>
												{% elseif roles == "ROLE_SUPER_ADMIN" %}
													<td>Super admin</td>
												{% endif %}
											{% endfor %}
											{% if is_granted('ROLE_SUPER_ADMIN') and usuario.id != app.user.id %}
												<td> 
													<div class="btn-group btn-group-sm">
														{% for roles in usuario.roles %}
															{% if roles == "ROLE_USER" %}
																<button  class="btn btn-success promocionar" data-id="{{usuario.id}}" data-url="{{ path('editarRol')}}" data-toggle="tooltip" data-placement="bottom" title="Promocionar Usuario">
																	<span class="glyphicon glyphicon-user"></span> Promocionar
																	{# <span class="glyphicon glyphicon-thumbs-up"></span> #}
																</button>
															{% endif %}
															{% if roles == "ROLE_ADMIN" %}
																<button  class="btn btn-danger degradar" data-id="{{usuario.id}}" data-url="{{ path('editarRol')}}" data-toggle="tooltip" data-placement="bottom" title="Degradar Usuario">
																	<span class="glyphicon glyphicon-user"></span> Degradar
																	{# <span class="glyphicon glyphicon-thumbs-down"></span> #}
																</button>
															{% endif %}
														{% endfor %}
														{# <button data-id="{{usuario.id}}" data-url="{{ path('borrarUsuario')}}" class="btn btn-danger borrar_usuario">
															<span class="glyphicon glyphicon-remove"></span>
														</button> #}
													</div>
												</td>
											{% endif %}
										</tr>
									{% else %}
										<tr>
											<td colspan="4"><a href="#">No hay usuarios.</a></td>
										</tr>
									{% endfor %}
									</tbody>
								</table>
					
							</div>{# fin table-responsive#}
						</div>{# fin col-md-12#}
					</div>{# fin row#}
				</div>{# fin panel-body#}
			</div>{# fin panel#}
		</div>{# fin mod#}
	</div>{# fin row#}

		{# <div class="row">
			<div id="mod_categorias"  style="display:none"  class="mod col-md-10">
				
			</div><!--fin_mod_categorias-->
		</div><!--fin_row--> #}


		<div class="row">
			<div id="mod_categorias" style="display:none" class="mod col-md-10">
				<div id="panel-grid" class="panel panel-primary panel-view">
					<div class="panel-heading complement-1-b">
						<span> 
							<strong>Gestion de Categorías</strong>
						</span>
					</div>
				<div class="panel-body">
					<div class="row">
						<div class="col-md-12">
							<div class="table-responsive">
								<input type="hidden" id="url_cenlog" value="{{path('centro_log')}}">
								<input type="hidden" id="url_addcat" value="{{path('nueva_categoria')}}">
								<input type="hidden" id="url_editcat" value="{{path('edit_categoria')}}">
								<input type="hidden" id="url_delcat" value="{{path('del_categoria')}}">
										
								<table class="table table-hover">
									<thead>
										<tr>
											<th class="col-sm-8 col-md-2">Nombre</th>
											<th class="col-sm-4 col-md-1">Opciones</th>
											
										</tr>
									</thead>
									<tbody>
									{% for categoria in categorias %}
										<tr id="categ_{{categoria.id}}">
											<td class="categ">{{categoria.nombre}}</td>
											<td> 
												<div class="btn-group btn-group-sm">
													<button class="btn btn-primary complement-1-b" onclick="updCategoria({{categoria.id}},'edit',$(this))"><span class="glyphicon glyphicon-edit"></span> Editar</button>
													<button class="btn btn-danger" onclick="delCategoria({{categoria.id}})"><span class="glyphicon glyphicon-trash"></span> Borrar</button>
												</div>
											</td>
											
										</tr>
									{% else %}
										<tr>
											<td colspan="4"><a href="#">No hay categorias.</a></td>
										</tr>
									{% endfor %}
									</tbody>
								</table>
					
							</div>{# fin table-responsive#}
							<form>
							    <div class="input-group col-md-4">
							      <input type="text" id="add_categ" class="form-control">
							      <span class="input-group-btn">
							        <button class="btn btn-primary complement-1-b" type="button" onclick="addCategoria()">Agregar Categoría</button>
							      </span>
							    </div><!-- /input-group -->
							</form>
						</div>{# fin col-md-12#}
					</div>{# fin row#}
				</div>{# fin panel-body#}
			</div>{# fin panel#}
		</div>{# fin mod#}
	</div>{# fin row#}

</div><!--fin_div_admin-->
	<div id='modal-pedido' class="modal fade" tabindex='-1' role='dialog'  aria-labelledby='ModalLabel' aria-hidden='true'>
				<div class="modal-dialog">
					<div class='modal-content'>
						<div class='modal-header complement-1-b'>
							<button class='close' type='button' data-dismiss='modal' aria-hidden='true'> ×</button>
							<div  class='modal-title row'>
								<div id='modal-pedido-title' class="col-md-7"></div>
								<div class="input-group col-md-4">
									<div class="btn-group estado" data-toggle="buttons">
									  <label class="btn btn-primary complement-1-b" disabled>Estado</label>
									  <label id="est_pendiente" class="btn btn-danger btn-status">
									    <input type="radio" name="estado" id="pendiente" value="pendiente">
									    	<span class="glyphicon glyphicon glyphicon-warning-sign"></span>
									  </label>
									  <label id="est_enviado" class="btn btn-warning btn-status">
									    <input type="radio" name="estado" id="enviado" value="enviado">
									    	<span class="glyphicon glyphicon glyphicon-export"></span>
									  </label>
									  <label id="est_recibido" class="btn btn-success btn-status">
									    <input type="radio" name="estado" id="recibido" value="recibido">
									    	<span class="glyphicon glyphicon glyphicon-import"></span>
									  </label>
									</div>

								</div>
								
							</div>
						</div>
						<div class='modal-body'>
							<div class='row'>
								<div class='col-md-5 bloques'>
									<div class="bloque_titulo">
									   <span>Añadir Producto</span>
									</div>
									<div class="list-group scrollable-y">
										{% for producto in productos%}
											  <a href="#" data-idprod='{{producto.id}}' data-nombre='{{producto.nombre}}' data-unid='{{producto.unidad}}' class="list-group-item">
											    {{producto.nombre}}
											    <span class="glyphicon glyphicon-plus-sign pull-right"></span>
											  </a>
									  {% endfor %}
									</div>
								</div>
								<div class='col-md-7 '>
									<div class="bloque_titulo">
									  <span>Pedido</span>
									</div>

										<div class='scrollable-y'>
											<table class="table">
											<tbody id="tags" class="list-group "></tbody>
										</table>
									</div>
									
								</div>
							</div>
							<div class="row">
								<label class="col-md-5">
								Agregar Ingredientes
								</label>
								<div class="col-md-7">
									<div class="input-group">
							    	  <span id="formtag_nombre" class="input-group-addon"></span>
								      <input id="formtag_cantidad" type="text" class="form-control">
								      <span id="formtag_unid" class="input-group-addon "></span>
								      <span class="input-group-btn">
								        <button class="btn btn-primary complement-1-b" type="button" onclick="agregarNuevoProd()">
								        	<span class="glyphicon glyphicon-plus"></span>
								        </button>
								      </span>
								    </div><!-- /input-group -->
							   </div>
							</div>
							{# <div id="response"></div> #}
						</div>						
						<div class='modal-footer'>
							<button type="button" id="crearPed" class="btn btn-primary complement-1-b" data-url="{{path('genPedido')}}">Crear Pedido</button>
							<button type="button" id="editPed" class="btn btn-primary complement-1-b hidden" data-url="{{path('editPedido')}}">Editar Pedido</button>
							<button class='btn btn-danger' type='button' data-dismiss='modal' > Cancelar</button>
						</div>

					</div>
					
				</div>
	</div>
	<div id='modal-showpedido' class="modal fade" tabindex='-1' role='dialog'  aria-labelledby='ModalLabel' aria-hidden='true'>
				<div class="modal-dialog" style="width:500px">
					<div class='modal-content'>
						<div class='modal-header complement-1-b'>
							<button class='close' type='button' data-dismiss='modal' aria-hidden='true'> ×</button>
							<div class='modal-title'>
								<strong>Nº pedido: </strong><span id="showIdPed"></span>
								<button id="generarPDF" data-url="{{path('findPedido')}}" type="button"  class="btn btn-primary complement-1-b boton-right">
									<span class="glyphicon glyphicon-file"></span>
									PDF
								</button>
							</div>

						</div>
						<div class='modal-body'>
							<div class="row">
								<div class="col-md-12">
									<div class="bloque_titulo2">
										<strong>Fecha: </strong><span id="showFechPed"> </span>
										<span class="pull-right">
											<strong>Creador: </strong>
											<span id="showUsuPed"></span>
										</span>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-md-12">
									<div id="list_prod" class="list-group scrollable-y"></div>
								</div>
							</div>
							<div id="control_estado" class="row">

							</div>
							
						</div>						
						<div id="btn_showPed" class='modal-footer' data-url='{{path('editEstado')}}'>
							
						</div>
					
				</div>
			</div>

	
	</div>

	<div id="response"></div>

	<a href="#" class="scrollup">Scroll</a>
	{% endblock %}
    {% block javascript %}
        {{ parent() }}
			<script type="text/javascript" src="{{ asset('public/js/efectos.js') }}"></script>
			<script type="text/javascript" src="{{ asset('public/js/acciones.js') }}"></script>
			<script type="text/javascript" src="{{ asset('public/js/jquery.confirm.js') }}"></script>
			<script type="text/javascript" src="{{ asset('public/js/jsPDF/FileSaver.js') }}"></script>
			<script type="text/javascript" src="{{ asset('public/js/jsPDF/jspdf.js') }}"></script>
			<script type="text/javascript" src="{{ asset('public/js/centro_log.js') }}"></script>
    {% endblock %}