{% extends '::base.html.twig' %}
	{% block title %}Centro Logístico - Gestor de cocina {% endblock %}
	{% block stylesheet %} 
		{{ parent() }}
		<link type='text/css' rel='stylesheet' href="{{ asset('public/css/admin.css') }}">
		
	{% endblock %}
		{% block body %}
	<div class='navbar navbar-default complement-1-b'>
			<div class='container'> 
				<div class='navbar-header'>
					<button class='navbar-toggle' type='button', data-toggle='collapse', data-target='.navbar-collapse'>
						<span class='icon-bar'></span>
						<span class='icon-bar'></span>
						<span class='icon-bar'></span>
					</button>
					<a class='navbar-brand' href='#'> Gestor de cocina</a>
				</div>
				<div class='navbar-collapse collapse'>
					<ul class='nav navbar-nav menu'>
						<li >
							<a href="{{ path('inicio') }}"> Inicio</a>
						</li>
						<li>
							<a href="{{ path('recetas') }}"> Recetas</a>
						</li>
						<li class='active'>
							<a href="{{ path('centro_log') }}"> Centro Logístico</a>
						</li>
						<li>
							<a href="{{ path('almacen') }}"> Almacén</a>
						</li>
					</ul>
					<ul class='nav navbar-nav navbar-right menu-user'>
						{% if app.user %}
								<li class='dropdown'>
									<a href="#" data-toggle="dropdown" class='dropdown-toggle'>
										<span class='glyphicon glyphicon-user'></span>  
										<span>Usuario: <strong>{{ app.user.nombre }}</strong></span>
										<span class='caret caret-white'></span>
									</a>
									<ul class='dropdown-menu complement-1-b'>
										<li>
											<a href="{{ path('perfil') }}"> 
												<span class='glyphicon glyphicon-user'></span>
												<span>   Perfil</span>
											</a>
										</li>
										<li>
											<a href="{{ path('logout') }}">
												<span class='glyphicon glyphicon-off'></span>
												<span>   Cerrar Sesión</span>
											</a>
										</li>
									</ul>
								</li>
						{% else %}
							<li><a class="underline" href="{{ path('login') }}">Login</a></li>
	        				<li><a href="">|</a></li>
	        				<li><a class="underline" href="{{ path('registro') }}">Registro</a></li>
						{% endif %}
				</div>
			</div>
		</div>
	<div class="admin">
		<div class="col-md-2 complement-1-b">
			<div class="complement-1-b side-bar-admin">				
				<ul class="nav navbar-nav side-nav">
					<li>
						<a href="#" id="pedidos">
							<span class="glyphicon glyphicon-inbox"></span>
							<span> Pedidos</span>
						</a>
					</li>
					<li>
						<a href="#" id="usuarios">
							<span class="glyphicon glyphicon-user"></span>
							<span> Gestion de usuarios</span>
						</a>
					</li>
					<li class="active">
						<a href="#" id="informacion">
							<span class="glyphicon glyphicon-dashboard"></span>
							<span> Info</span>
						</a>
					</li>
				</ul>
			</div>
		</div>
		<div class="col-md-10">
			<div class="row">
				<div id="mod_pedidos" class="mod col-md-10">
					<div id="accordion" class="panel-group">
						<div class="panel panel-primary">
							<div class="panel-heading complement-1-b">
								<h4 class="panel-title">
								<a data-toggle="collapse" data-parent="#accordion" href="#collapse_1">
									<strong>
										<span class="glyphicon glyphicon-download-alt"> </span>
										<span>  Solicitudes de productos</span>
									</strong>
								</a>
								</h4>
							</div>
							<div id="collapse_1" class="panel-collapse collapse">
								<div class="panel-body">
									<div class="row">
										<div class="col-md-12">
											<div class="table-responsive">
												<table class="table">
													<thead>
														<tr>
															<th class="col-md-4">Producto</th>
															<th class="col-md-2">Cantidad</th>
															<th class="col-md-2">Fecha</th>
															<th class="col-md-3">Solicitante</th>
															<th class="col-md-1">Opciones</th>
														</tr>
													</thead>
													<tbody>
													<div>	
													{% for solicitud in solicitudes %}
														<tr id="solicitud_{{solicitud.id}}" class="solicitud">
															<td class="nombre" data-nombre='{{solicitud.producto.nombre}}'
															data-id="{{solicitud.producto.id}}"><a href="#" >
																	<span class="glyphicon glyphicon-file"></span>
																	<span class="ped-tit"> {{solicitud.producto.nombre}}</span>
															</a></td>
															<td class="cantidad" data-unidad='{{solicitud.producto.unidad}}' data-cantidad='{{solicitud.cantidad}}'>{{solicitud.cantidad}} {{solicitud.producto.unidad}}</td>
															<td>{{solicitud.fecha|date("d/m/Y")}}</td>
															<td>Usuario 1</td>
															<td>
																<div class="btn-group btn-group-sm">
																	<button id="button_{{solicitud.id}}" data-id="{{solicitud.id}}" data-agregado="false"data-idprod="{{solicitud.producto.id}}" type="button" class="agregarProd btn btn-primary">
																		<span class="glyphicon glyphicon-plus"></span>
																	</button>
																	<button data-id="{{solicitud.id}}" data-idprod="{{solicitud.producto.id}}" data-cant="{{solicitud.cantidad}}" data-und="{{solicitud.producto.unidad}}" type="button" class="elimProd btn btn-danger">
																		<span class="elim_pro glyphicon glyphicon-remove"></span>
																	</button>
																</div>
															</td>
														</tr>
													{% else %}
															<tr>
																<td colspan="4"><a href="#">No hay solicitudes pendientes.</a></td>
															</tr>
														{% endfor %}
													</div>
														
													</tbody>
												</table>
											</div>
											<div>
												<button type="button" id="generarPed" class="btn btn-primary complement-1-b" >Generar Pedido</button>
												<div class="btn-group pull-right">
													<button type="button" onclick="agrTodos()" class="btn btn-primary complement-1-b ">Agregar Todos</button>
													<button type="button" onclick="borrarTodos()" class="btn btn-primary complement-1-b ">Borrar Todos</button>
												</div>
											</div>
											
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="panel panel-danger">
							<div class="panel-heading">
								<h4 class="panel-title">
								<a data-toggle="collapse" data-parent="#accordion" href="#collapse_2">
									<strong>
										<span class="glyphicon glyphicon-warning-sign"> </span>
										<span>  Pedidos Pendientes</span>
									</strong>
								</a>
								</h4>
							</div>
							<div id="collapse_2" class="panel-collapse collapse">
								<div class="panel-body">
									<div class="row">
										<div class="col-md-12">
											<div class="table-responsive">
												<table class="table">
													<thead>
														<tr>
															<th class="col-md-4">Pedido</th>
															<th class="col-md-3">Fecha</th>
															<th class="col-md-3">Creador</th>
															<th class="col-md-2">Opciones</th>
														</tr>
													</thead>
													<tbody id="ped_pendientes">
													{% for pedido in pedidos if pedido.estado == "pendiente" %}
														<tr id="pedPend_{{pedido.id}}">
															<td>
															<a href="#" data-id="{{pedido.id}}" data-url="{{path('findPedido')}}" class="showPedido" data-fecha="{{pedido.fecha|date("d/m/Y")}}" data-usu="Usuario 1">
																<span class="glyphicon glyphicon-file"></span>
																<span class="ped-tit"> Pedido pendiente {{pedido.id}}</span>
															</a></td>
															<td class="fecha_pend">{{pedido.fecha|date("d/m/Y")}}</td>
															<td class="usu_pend">Usuario 1</td>
															<td>
																<div class="btn-group btn-group-sm">
																	<button type="button" class="btn btn-primary edit_pend" data-id="{{pedido.id}}" data-url="{{path('findPedido')}}">
																		<span class="glyphicon glyphicon-edit"></span>
																	</button>
																	<button type="button" class="btn btn-danger del_ped" data-id="{{pedido.id}}" data-url="{{path('delPedido')}}">
																		<span class="glyphicon glyphicon-trash"></span>
																	</button>
																</div>
															</td>
														</tr>
														{% else %}
															<tr>
																<td colspan="4"><a href="#">No hay pedidos pendientes</a></td>
															</tr>
														{% endfor %}	
													</tbody>
												</table>
											</div>
											
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="panel panel-warning">
							<div class="panel-heading">
								<h4 class="panel-title">
									<a data-toggle="collapse" data-parent="#accordion" href="#collapse_3">
										<strong>
											<span class="glyphicon glyphicon-export"> </span>
											<span>  Pedidos Enviados</span>
										</strong>
									</a>
								</h4>
							</div>
							<div id="collapse_3" class="panel-collapse collapse">
								<div class="panel-body">
									<div class="row">
										<div class="col-md-12">
											<div class="table-responsive">
												<table class="table">
													<thead>
														<tr>
															<th class="col-md-4">Pedido</th>
															<th class="col-md-3">Fecha</th>
															<th class="col-md-3">Creador</th>
															<th class="col-md-2">Opciones</th>
														</tr>
													</thead>
													<tbody id="ped_enviado">
													{% for pedido in pedidos if pedido.estado == "enviado" %}
														<tr id="pedEnv_{{pedido.id}}">
															<td>
															<a href="#" data-id="{{pedido.id}}" data-url="{{path('findPedido')}}" class="showPedido" data-fecha="{{pedido.fecha|date("d/m/Y")}}" data-usu="Usuario 1">
																<span class="glyphicon glyphicon-file"></span>
																<span class="ped-tit"> Pedido enviado {{pedido.id}}</span>
															</a></td>
															<td class="fecha_env">{{pedido.fecha|date("d/m/Y")}}</td>
															<td class="usu_env">Usuario 1</td>
															<td>
																<div class="btn-group btn-group-sm">
																	<button type="button" class="btn btn-primary edit_enviado" data-id="{{pedido.id}}" data-url="{{path('findPedido')}}">
																		<span class="glyphicon glyphicon-edit"></span>
																	</button>
																	<button type="button" class="btn btn-danger del_ped" data-id="{{pedido.id}}" data-url="{{path('delPedido')}}" data-fecha="{{pedido.fecha|date("d/m/Y")}}" data-usu="Usuario 1">
																		<span class="glyphicon glyphicon-trash"></span>
																	</button>
																</div>
															</td>
														</tr>
														{% else %}
															<tr>
																<td colspan="4"><a href="#">No hay pedidos enviados</a></td>
															</tr>
														{% endfor %}	
													
													</tbody>
												</table>
											</div>
											
										</div>
									</div>
								</div>
							</div>
						</div>
							<div class="panel panel-success">
								<div class="panel-heading">
									<h4 class="panel-title">
										<a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
											<strong>
												<span class="glyphicon glyphicon-import"> </span>
												<span>  Pedidos Recibidos</span>
											</strong>
										</a>
									</h4>
								</div>
							<div id="collapseThree" class="panel-collapse collapse">
								<div class="panel-body"><div class="row">
									<div class="col-md-12">
										<div class="table-responsive">
											<table class="table">
												<thead>
													<tr>
														<th class="col-md-4">Pedido</th>
														<th class="col-md-3">Fecha</th>
														<th class="col-md-3">Creador</th>
														<th class="col-md-2">Opciones</th>
													</tr>
												</thead>
												<tbody>
													{% for pedido in pedidos if pedido.estado == "recibido" %}
														<tr id="pedRecb_{{pedido.id}}">
															<td>
															<a href="#" data-id="{{pedido.id}}" data-url="{{path('findPedido')}}" class="showPedido" data-fecha="{{pedido.fecha|date("d/m/Y")}}" data-usu="Usuario 1">
																<span class="glyphicon glyphicon-file"></span>
																<span class="ped-tit"> Pedido recibido {{pedido.id}}</span>
															</a></td>
															<td class="fecha_recib">{{pedido.fecha|date("d/m/Y")}}</td>
															<td class="usu_recib">Usuario 1</td>
															<td>
																<div class="btn-group btn-group-sm">
																	<button type="button" class="btn btn-primary edit_recibido" data-id="{{pedido.id}}" data-url="{{path('findPedido')}}">
																		<span class="glyphicon glyphicon-edit"></span>
																	</button>
																	<button type="button" class="btn btn-danger del_ped" data-id="{{pedido.id}}" data-url="{{path('delPedido')}}">
																		<span class="glyphicon glyphicon-trash"></span>
																	</button>
																</div>
															</td>
														</tr>
														{% else %}
															<tr>
																<td colspan="4"><a href="#">No hay pedidos recibidos</a></td>
															</tr>
														{% endfor %}	
												</tbody>
											</table>
										</div>
										
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div id="mod_usuarios" style="display:none" class="mod col-md-10">
				<div id="panel-grid" class="panel panel-primary panel-view">
					<div class="panel-heading complement-1-b">
						<span> 
							<strong>Gestion de Usuarios</strong>
						</span>
					</div>
				<div class="panel-body">
					<table class="table table-hover">
						<thead>
							<tr>
								<th class="col-sm-6 col-md-2">Nombre</th>
								<th class="col-sm-6 col-md-2">Apellidos</th>
								<th class="col-sm-6 col-md-1">Usuario</th>
								<th class="col-sm-6 col-md-1">Email</th>
								<th class="col-sm-6 col-md-1">Registro</th>
								<th class="col-sm-6 col-md-1">Tipo</th>
								<th class="col-sm-4 col-md-1">Opciones</th>
							</tr>
						</thead>
						<tbody>
						{% for usuario in usuarios %}
							<tr data-id="{{usuario.id}}">
								<td>{{usuario.nombre}}</td>
								<td>{{usuario.apellidos}}</td>
								<td>{{usuario.username}}</td>
								<td>{{usuario.email}}</td>
								<td>{{usuario.fechaRegistro|date("d/m/Y")}}</td>
								{% for roles in usuario.roles %}
									{% if roles == "ROLE_USER" %}
									<td>Usuario</td>
									{% elseif roles == "ROLE_ADMIN" %}
									<td>Administrador</td>
									{% endif %}
								{% endfor %}
								
								<td> 
									<div class="btn-group btn-group-sm">
										<button data-href="" class="btn btn-primary">
											<span class="glyphicon glyphicon-edit"></span>
										</button>
										<button data-href="" class="btn btn-danger">
											<span class="glyphicon glyphicon-remove"></span>
										</button>
									</div>
								</td>
							</tr>
						{% else %}
							<tr>
								<td colspan="4"><a href="#">No hay usuarios.</a></td>
							</tr>
						{% endfor %}
						</tbody>
					</table>
					</div>
				</div>
			</div>
		</div>
	</div>

		<div class="row">
			<div id="mod_informacion" style="display:none" class="mod col-md-10">
			
			</div>
		</div>
</div><!--fin_div_admin-->
	<div id='modal-pedido' class="modal fade" tabindex='-1' role='dialog'  aria-labelledby='ModalLabel' aria-hidden='true'>
				<div class="modal-dialog">
					<div class='modal-content'>
						<div class='modal-header complement-1-b'>
							<button class='close' type='button' data-dismiss='modal' aria-hidden='true'> ×</button>
							<div  class='modal-title row'>
								<div id='modal-pedido-title' class="col-md-7"></div>
								<div class="input-group col-md-4">
									<div class="btn-group estado" data-toggle="buttons">
									  <label class="btn btn-primary complement-1-b" disabled>Estado</label>
									  <label id="est_pendiente" class="btn btn-danger btn-status">
									    <input type="radio" name="estado" id="pendiente" value="pendiente">
									    	<span class="glyphicon glyphicon glyphicon-warning-sign"></span>
									  </label>
									  <label id="est_enviado" class="btn btn-warning btn-status">
									    <input type="radio" name="estado" id="enviado" value="enviado">
									    	<span class="glyphicon glyphicon glyphicon-export"></span>
									  </label>
									  <label id="est_recibido" class="btn btn-success btn-status">
									    <input type="radio" name="estado" id="recibido" value="recibido">
									    	<span class="glyphicon glyphicon glyphicon-import"></span>
									  </label>
									</div>

								</div>
								
							</div>
						</div>
						<div class='modal-body'>
							<div class='row'>
								<div class='col-md-5 bloques'>
									<div class="bloque_titulo">
									   <span>Añadir Producto</span>
									</div>
									<div class="list-group scrollable-y">
										{% for producto in productos%}
											  <a href="#" data-idprod='{{producto.id}}' data-nombre='{{producto.nombre}}' data-unid='{{producto.unidad}}' class="list-group-item">
											    {{producto.nombre}}
											    <span class="glyphicon glyphicon-plus-sign pull-right"></span>
											  </a>
									  {% endfor %}
									</div>
								</div>
								<div class='col-md-7 '>
									<div class="bloque_titulo">
									  <span>Pedido</span>
									</div>

										<div class='scrollable-y'>
											<table class="table">
											<tbody id="tags" class="list-group "></tbody>
										</table>
									</div>
									
								</div>
							</div>
							<div class="row">
								<label class="col-md-5">
								Agregar Ingredientes
								</label>
								<div class="col-md-7">
									<div class="input-group">
							    	  <span id="formtag_nombre" class="input-group-addon"></span>
								      <input id="formtag_cantidad" type="text" class="form-control">
								      <span id="formtag_unid" class="input-group-addon "></span>
								      <span class="input-group-btn">
								        <button class="btn btn-primary complement-1-b" type="button" onclick="agregarNuevoProd()">
								        	<span class="glyphicon glyphicon-plus"></span>
								        </button>
								      </span>
								    </div><!-- /input-group -->
							   </div>
							</div>
							{# <div id="response"></div> #}
						</div>						
						<div class='modal-footer'>
							<button type="button" id="crearPed" class="btn btn-primary complement-1-b" data-url="{{path('genPedido')}}">Crear Pedido</button>
							<button type="button" id="editPed" class="btn btn-primary complement-1-b hidden" data-url="{{path('editPedido')}}">Editar Pedido</button>
							<button class='btn btn-danger' type='button' data-dismiss='modal' > Cancelar</button>
						</div>

					</div>
					
				</div>
	</div>
	<div id='modal-showpedido' class="modal fade" tabindex='-1' role='dialog'  aria-labelledby='ModalLabel' aria-hidden='true'>
				<div class="modal-dialog" style="width:400px">
					<div class='modal-content'>
						<div class='modal-header complement-1-b'>
							<button class='close' type='button' data-dismiss='modal' aria-hidden='true'> ×</button>
							<div class='modal-title'>
								<strong>Nº pedido: </strong><span id="showIdPed"></span>
							</div>

						</div>
						<div class='modal-body'>
							<div class="row">
								<div class="col-md-12">
									<div class="bloque_titulo2">
										<strong>Fecha: </strong><span id="showFechPed"> </span>
										<span class="pull-right">
											<strong>Creador: </strong>
											<span id="showUsuPed"></span>
										</span>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-md-12">
									<div id="list_prod" class="list-group scrollable-y"></div>
								</div>
							</div>
							<div id="control_estado" class="row">

							</div>
							
						</div>						
						<div id="btn_showPed" class='modal-footer'>
							
						</div>
					
				</div>
			</div>

	
	</div>

	<div id="response"></div>

	<a href="#" class="scrollup">Scroll</a>
	{% endblock %}
    {% block javascript %}
        {{ parent() }}
			<script type="text/javascript" src="{{ asset('public/js/efectos.js') }}"></script>
			<script type="text/javascript" src="{{ asset('public/js/acciones.js') }}"></script>
			<script type="text/javascript" src="{{ asset('public/js/jquery.confirm.js') }}"></script>
			<script type="text/javascript" src="{{ asset('public/js/centro_log.js') }}"></script>
    {% endblock %}