<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>{% block title %}Test Application{% endblock %}</title>
    {% block stylesheet %} 
        <link type='text/css' rel='stylesheet' href="{{ asset('public/css/bootstrap.css') }}">
        <link type='text/css' rel='stylesheet' href="{{ asset('public/css/style.css') }}">
        <link type='text/css' rel='stylesheet' href="{{ asset('public/css/bootstrap-theme.css') }}">
        <link type='text/css' rel='stylesheet' href="{{ asset('public/css/menu.css') }}">

    {% endblock %}
</head>
<body>
     {% block menu %}
         {% set currentPath = app.request.attributes.get('_route') %}
        <div class='navbar navbar-default complement-1-b'>
            <div class='container'> 
                <div class='navbar-header'>
                    <button class='navbar-toggle' type='button', data-toggle='collapse', data-target='.navbar-collapse'>
                        <span class='icon-bar'></span>
                        <span class='icon-bar'></span>
                        <span class='icon-bar'></span>
                    </button>
                    <a class='navbar-brand' href='#'> Gestor de cocina </a>
                </div>
                <div class='navbar-collapse collapse'>
                    <ul class='nav navbar-nav menu'>
                        {% if (currentPath == "inicio") %}
                                    <li class='active'>
                                {% else %}
                                    <li>
                                {% endif %}
                            <a href="{{ path('inicio') }}"> Inicio</a>
                        </li>
                        {% if is_granted('ROLE_USER') %}
                        {% if (currentPath == "recetas") %}
                                    <li class='active'>
                                {% else %}
                                    <li>
                                {% endif %}
                            <a href="{{ path('recetas') }}">Recetas</a>
                        </li>
                        {% if (currentPath == "solicitudes") %}
                                    <li class='active'>
                                {% else %}
                                    <li>
                                {% endif %}
                            <a href="{{ path('solicitudes') }}">Solicitudes</a>
                        </li>
                        {% endif %}
                        {% if is_granted('ROLE_ADMIN') %}
                                {% if (currentPath == "centro_log") %}
                                    <li class='active'>
                                {% else %}
                                    <li>
                                {% endif %}
                                    <a href="{{ path('centro_log') }}"> Centro Logístico</a>
                                
                                </li>
                                
                                <li>
                                    <a href="{{ path('almacen') }}"> Almacén</a>
                                </li>
                        {% endif %}
                    </ul>
                    <ul class='nav navbar-nav navbar-right menu-user'>
                        {% if app.user %}
                                <li class='dropdown'>
                                    <a href="#" data-toggle="dropdown" class='dropdown-toggle'>
                                        <span class='glyphicon glyphicon-user'></span>  
                                        <span>Usuario: <strong>{{ app.user.nombre }}</strong></span>
                                        <span class='caret caret-white'></span>
                                    </a>
                                    <ul class='dropdown-menu complement-1-b'>
                                        <li>
                                            <a href="{{ path('perfil') }}"> 
                                                <span class='glyphicon glyphicon-user'></span>
                                                <span>   Perfil</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="{{ path('logout') }}">
                                                <span class='glyphicon glyphicon-off'></span>
                                                <span>   Cerrar Sesión</span>
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                        {% else %}
                            <li><a class="underline" href="{{ path('login') }}">Login</a></li>
                            <li><a href="">|</a></li>
                            <li><a class="underline" href="{{ path('registro') }}">Registro</a></li>
                        {% endif %}
                </div>
            </div>
        </div>
     {% endblock %}
    {% block body %}{% endblock %}
    {% block javascript %}
        <script type="text/javascript" src="{{ asset('public/js/jquery.js') }}"></script>
        <script type="text/javascript" src="{{ asset('public/js/bootstrap.js') }}"></script>

    {% endblock %}
</body>

</html>
