{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Productos</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Nombre</th>
                <td>{{ entity.nombre }}</td>
            </tr>
            <tr>
                <th>Slug</th>
                <td>{{ entity.slug }}</td>
            </tr>
            <tr>
                <th>Precio</th>
                <td>{{ entity.precio }}</td>
            </tr>
            <tr>
                <th>Unidadcompra</th>
                <td>{{ entity.unidadCompra }}</td>
            </tr>
            <tr>
                <th>Unidad</th>
                <td>{{ entity.unidad }}</td>
            </tr>
            <tr>
                <th>Stock</th>
                <td>{{ entity.stock }}</td>
            </tr>
            <tr>
                <th>Stockmin</th>
                <td>{{ entity.stockMin }}</td>
            </tr>
            <tr>
                <th>Foto</th>
                <td>{{ entity.foto }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('almacen') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('almacen_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
