{% extends '::base.html.twig' %}

	{% block title %}Inicio - Gestor de cocina {% endblock %}
	{% block stylesheet %} 
		{{ parent() }}
		<link type='text/css' rel='stylesheet' href="{{ asset('public/css/notepad.css') }}">
		<style type="text/css">


</style>
	{% endblock %}
	{% block body %}
		{% if is_granted('ROLE_BLOQ') %}
		<div id="bloq">
			{# <div id="textinfo"> #}
			<div class="msgblock complement-1-b" role="alert">
				<h1><span class="glyphicon glyphicon-user"></span> Usuario bloqueado</h1>
				<h3><i>Póngase en contacto con el administrador.</i></h3>
			</div>
		</div>
		{% endif %}
		<div class='content'>
		
					
		<div class='container'>
			<div class='row'>
				<div class='col-md-12'>
					<div class='well note taupe'>
						<img class='fondo' src="{{ asset('public/img/photo/chef2.png') }}">
						<div class='row'>
							<div class='col-md-12'>
								<h1 class='title'> Gestor de cocina</h1>
								<h2 class='subtitle'> Introduce el nombre de tu receta</h2>
							</div>
						</div>
						<div class='row search'>
							<form class='col-md-offset-2 col-md-8'>
								<div class="input-group search">
									<input type="text" class="form-control" id="input_busqueda" onkeyup="buscar()" data-url="{{ path('buscar')}}" data-url-rec="{{ path('inicio')}}">
									<span class="input-group-btn">
										<button type="button" class="btn btn-default complement-1-b" onclick="buscar ()">
											<span class="glyphicon glyphicon-search"></span>
										</button>
									</span>

								</div>
								<div id="resul_busq"></div>
							</form>
						</div>
					</div>
				</div>
			</div>

	      
			<div class='row'>
				<div class='col-md-6'>

					<div class="panel panel-primary">
					  <div class="panel-heading complement-1-b">
					  	<h4>Recetas recientes</h4>
					  </div>
					  <div class="panel-body notepad">
					   		<div class="lines"></div>
							<ul class="list">
							{% for receta in rec_recientes if rec_recientes|length > 0 %}
								<li><a href="{{ path('receta', { 'receta': receta.id }) }}">{{ receta.nombre }}</a></li>
								{# <a href="">{{ receta.nombre }}</a> #}
							{% else %}
								<li>No hay recetas.</li>
							{% endfor %}
							</ul>
						
					  </div>
					</div>
						
				</div>
				<div class='col-md-6'>
					<div class="panel panel-primary">
					  <div class="panel-heading complement-1-b">
					  	<h4>Top 5 de recetas</h4>
					  </div>
					  <div class="panel-body notepad">
					  	{% if is_granted('ROLE_USER') %}
					   		<div class="lines"></div>
							<ol class="list">
							
								{% for key,fav in favoritas %}
									<li><span class="index">{{key+1}}º</span><a href="{{ path('receta', { 'receta': fav.id }) }}">{{ fav.nombre }}</a> <span class="fav">({{fav.notamedia}}<span class="glyphicon glyphicon-star"></span>)</span></li>
									{# <a href="">{{ receta.nombre }}</a> #}
								{% endfor %}
							{% else %}
								<h4><a href="">Accede a tu cuenta para ver las recetas favoritas.</a></h4>
							{% endif %}
							</ol>
						
					  </div>
					</div>
				</div>
			</div><!--end row-->
		</div><!--end container-->
	</div><!--end content-->
	{% endblock %}
    {% block javascript %}
        {{ parent() }}
			<script type="text/javascript" src="{{ asset('public/js/efectos.js') }}"></script>
			<script type="text/javascript" src="{{ asset('public/js/acciones.js') }}"></script>
    {% endblock %}