{% extends '::base.html.twig' %}

	{% block title %}Inicio - Gestor de cocina {% endblock %}
	{% block stylesheet %} 
		{{ parent() }}
		<link type='text/css' rel='stylesheet' href="{{ asset('public/css/login.css') }}">
		
	{% endblock %}
	{% block body %}

<div class="fondo">
	<div class="container">
		<div class="login">
			<h1>Acceso a Usuarios - Gestor de Cocina</h1>
			{% if error %}
				{% if error.message == "Bad credentials" %}
					<div class="row">
						<div class="col-md-10">
							<h4><span class="label label-danger"><strong>Error en el login:</strong> Usuario o contraseña incorrectos</span></h4>

						</div>
					</div>
					
				{% endif %}
			{% endif %}
			<form action="{{ path('login_check') }}" method="post" role="form" class="form-horizontal">
				<div class="form-group">
					<label for="inputEmail3" class="col-md-3 control-label">Usuario</label>
					<div class="col-md-6">
						<input name="_username" value="{{ last_username }}" type="text" placeholder="Usuario" class="form-control">
					</div>
				</div>
				<div class="form-group">
					<label for="inputPassword3" class="col-md-3 control-label">Contraseña</label>
					<div class="col-md-6">
						<input name="_password" type="password" placeholder="Contraseña" class="form-control">
					</div>
				</div>
				<div class="form-group">
					<label class="col-md-2 control-label"></label>
					<div class="col-md-10">
						<input type="checkbox">
						<span>  Mantener sesión iniciada</span>
					</div>
				</div>
				<div class="open_id">
					<h1 id="toggle-open_id" class="open_id_header">
						Accede con tu Open Id
						<span class="caret"></span>
					</h1>
					<div class="open_id_body"> 
						<div class="form-group">
							<label class="col-md-3 control-label"></label>
							<div class="col-md-6">
								<button class="btn btn-primary-dark col-md-12">Facebook</button>
							</div>
						</div>
						<div class="form-group">
							<label class="col-md-3 control-label"></label>
							<div class="col-md-6">
								<button class="btn btn-primary col-md-12">Twitter</button>
							</div>
						</div>
						<div class="form-group">
							<label class="col-md-3 control-label"></label>
							<div class="col-md-6">
								<button class="btn btn-danger col-md-12">Google</button>
							</div>
						</div>
					</div>
				</div>
				<div class="form-group"></div>
				<div class="col-sm-offset-2 col-sm-10">
					<button type="submit" class="btn btn-success col-md-6">Inicia Sesión</button>
					<span class="col-md-4 registro">
						<span>ó </span><a href="{{path('registro')}}">Regístrate</a>
					</span>
				</div>
				<div class="form-group">
					<label class="col-md-2 control-label"> </label>
					<span class="col-md-10">¿Has olvidado tu contraseña?</span>
					<label class="col-md-2 control-label"> </label>
					<span class="col-md-10"><a href="">Recordar contraseña.</a></span>
				</div>
			</form>
		</div>
	</div>
</div>
{% endblock %}
{% block javascript %}
    {{ parent() }}
		<script type="text/javascript" src="{{ asset('public/js/efectos.js') }}"></script>
		<script type="text/javascript" src="{{ asset('public/js/acciones.js') }}"></script>
{% endblock %}