{% extends '::base.html.twig' %}
	{% block title %}Recetas - Gestor de cocina {% endblock %}
		{% block body %}
	<div class='content'>
		<div class='navbar navbar-default complement-1-b'>
			<div class='container'> 
				<div class='navbar-header'>
					<button class='navbar-toggle' type='button', data-toggle='collapse', data-target='navbar-collapse'>
						<span class='icon-bar'></span>
						<span class='icon-bar'></span>
						<span class='icon-bar'></span>
					</button>
					<a class='navbar-brand' href='#'> Gestor de cocina</a>
				</div>
				<div class='navbar-collapse collapse'>
					<ul class='nav navbar-nav menu'>
						<li>
							<a href="{{ path('inicio') }}"> Inicio</a>
						</li>
						<li  class='active'>
							<a href="{{ path('recetas') }}"> Recetas</a>
						</li>
						<li>
							<a href="{{ path('centro_log') }}"> Centro Logístico</a>
						</li>
						<li>
							<a href="{{ path('almacen') }}"> Almacén</a>
						</li>
					</ul>
					<ul class='nav navbar-nav navbar-right menu-user'>
						<li class='dropdown'>
							<a href="#" data-toggle="dropdown" class='dropdown-toggle'>
								<span class='glyphicon glyphicon-user'></span>  
								<span>   Usuario 1</span>
								<span class='caret caret-white'></span>
							</a>
							<ul class='dropdown-menu complement-1-b'>
								<li>
									<a href="{{ path('perfil') }}"> 
										<span class='glyphicon glyphicon-user'></span>
										<span>   Perfil</span>
									</a>
								</li>
								<li>
									<a href="#">
										<span class='glyphicon glyphicon-off'></span>
										<span>   Cerrar Sesión</span>
									</a>
								</li>
							</ul>
						</li>
					</ul>
				</div>
			</div>
		</div>
	<div class="container">
		<div class="row">
			<div class="col-md-10">
			{% if  receta_edit is defined %}
				<div class="panel panel-primary">
					<div class="panel-heading complement-1-b">
						<strong>Editar Recetas</strong>
					</div>
					
					<div class="panel-body">
						<form action ="{{ path('mod_receta', { 'receta': receta_edit.slug }) }}" id="form-recetas" method="post" role="form" class="form form-horizontal">
							<input type="hidden" name="receta_id" value="{{receta_edit.id}}">
							<div class="form-group">
								<label for="" class="col-md-3 control-label">Nombre</label>
								<div class="col-md-6">
									<input type="text" name="nombre" placeholder="Nombre de la receta.." class="form-control" value="{{receta_edit.nombre}}">

								</div>
							</div>
							<div class="form-group">
								<label for="" class="col-md-3 control-label">Preparación</label>
								<div class="col-md-6">
									<input id="hide_descrip" type="hidden">
									<textarea id="descrip" name="descripcion" placeholder="Preparación de la receta..." resizable="false" class="form-control" value=""> {{receta_edit.descripcion}}</textarea>
								</div>
							</div>
							<div class="form-group">
								<label for="" class="col-md-3 control-label">Comensales</label>
								<div class="col-md-2">
									<input type="text" name="comensales" class="form-control" value="{{receta_edit.comensales}}">
								</div>
							</div>
							<div class="form-group">
								<label for="precio" class="col-md-3 control-label">Precio</label>
								<div class="col-md-2">
									<div class="input-group">
										<input type="text" name="precio" id="precioTotal" class="form-control precioTotal" value="{{receta_edit.precio}}">
										<span class="input-group-addon"> €</span>
										<input type="hidden" name="precio"  class="precioTotal" value="{{receta_edit.precio}}">
									</div>
								</div>
							</div>
							<div class="form-group">
								<label class="col-md-3"></label>
								<button id="add_ing" type="button" class="col-md-3 btn btn-primary complement-1-b" onClick="crearListadoIng('list_ingre')" data-url="{{ path('listar_ing') }}">Añadir ingredientes</button>

							</div>
							<div class="form-group">
								<div class="col-md-3"></div>
								<div class="col-md-6">
									<table class="table table-hover">
										<thead>
											<th class="col-md-8">Ingrediente</th>
											<th class="col-md-3">Cantidad</th>
											<th class="col-md-2"></th>
										</thead>
										<tbody id="listado_ingr">

											{% for key, ingre in ingredientes if ingre.receta.id == receta_edit.id %}
												<tr class="ingr_{{loop.index0}} ingredientes">
													<td class="nombre" 
													data-undCompra="{{ingre.producto.unidadCompra}}" 
													data-precio="{{ingre.producto.precio}}" 
													data-unidad="{{ingre.producto.unidad}}">{{ingre.producto.nombre}}<input type="hidden" name="id_ing[{{loop.index0}}]" value="{{ingre.producto.id}}"></td>
													<td>
														<div class="input-group">
															<input type="text" id="cantidad_{{loop.index0}}" name="cantidad[{{loop.index0}}]" class="form-control input-sm" onchange="modCantIng({{loop.index0}})" value="{{ingre.cantidad}}">
															<span class="input-group-addon">{{ingre.producto.unidad}}</span>
													</td>
													<td>
														<button type="button" class="btn btn-danger btn-sm" onclick="eliminarIng({{loop.index0}})">
															<span class="glyphicon glyphicon-remove"></span>
														</button>
													</td>
												</tr>

											{% endfor %}

										</tbody>
										

									</table>	
								</div>
							
							</div>
							<div class="form-group">
								<label for="" class="col-md-3 control-label"> </label>
								<div class="col-md-6">
									<div id="list_ingr" class="col-md-9"></div>
									<input type="hidden" name="ingredientes" id="ingredientes">
								</div>
							</div>
							<div class="form-group">
								<div class="col-md-offset-2 col-md-10 btn-separated">
									<button type="submit" class="btn btn-primary complement-1-b">
										<span class="glyphicon glyphicon-floppy-disk"></span>
										<span> Guardar</span>
									</button>
									<a href="{{ path('recetas') }}" class="btn btn-danger">
										<span class="glyphicon glyphicon-remove"></span>
										<span>  Cancelar</span>
									</a>
								</div>
							</div>
						</form>
						<div class="info"></div>
					</div>
				</div>
					{#  ---------------------------------------#}
					{% else %}
				<div class="panel panel-primary">
					<div class="panel-heading complement-1-b">
						<strong>Crear Recetas</strong>
					</div>
					<div class="panel-body">
						<form action ="{{ path('crear_receta') }}" id="form-recetas" method="post" role="form" class="form form-horizontal">
							<div class="form-group">
								<label for="" class="col-md-3 control-label">Nombre</label>
								<div class="col-md-6">
									<input type="text" name="nombre" placeholder="Nombre de la receta.." class="form-control">
								</div>
							</div>
							<div class="form-group">
								<label for="" class="col-md-3 control-label">Preparación</label>
								<div class="col-md-6">
									<input id="hide_descrip" type="hidden">
									<textarea id="descrip" name="descripcion" placeholder="Preparación de la receta..." resizable="false" class="form-control"> </textarea>
								</div>
							</div>
							<div class="form-group">
								<label for="" class="col-md-3 control-label">Comensales</label>
								<div class="col-md-2">
									<input type="text" name="comensales" class="form-control">
								</div>
							</div>
							<div class="form-group">
								<label for="precio" class="col-md-3 control-label">Precio</label>
								<div class="col-md-2">
									<div class="input-group">
										<input type="text" id="precioTotal" class="form-control precioTotal">
										<span class="input-group-addon"> €</span>
									</div>
									<input type="hidden" name="precio"  class="precioTotal">
								</div>
							</div>
							<div class="form-group">
								<label class="col-md-3"></label>
								<button id="add_ing" type="button" class="col-md-3 btn btn-primary complement-1-b" onClick="crearListadoIng('list_ingre')" data-url="{{ path('listar_ing') }}">Añadir ingredientes</button>

							</div>
							<div class="form-group">
								<div class="col-md-3"></div>
								<div class="col-md-6">
									<table class="table table-hover">
										<thead>
											<th class="col-md-8">Ingrediente</th>
											<th class="col-md-3">Cantidad</th>
											<th class="col-md-2"></th>
										</thead>
										<tbody id="listado_ingr"></tbody>
										

									</table>	
								</div>
							
							</div>
							<div class="form-group">
								<label for="" class="col-md-3 control-label"> </label>
								<div class="col-md-6">
									<div id="list_ingr" class="col-md-9"></div>
									<input type="hidden" name="ingredientes" id="ingredientes">
								</div>
							</div>
							<div class="form-group">
								<div class="col-md-offset-2 col-md-10 btn-separated">
									<button type="submit" class="btn btn-primary complement-1-b">
										<span class="glyphicon glyphicon-floppy-disk"></span>
										<span> Guardar</span>
									</button>
									<a href="{{ path('recetas') }}" class="btn btn-danger">
										<span class="glyphicon glyphicon-remove"></span>
										<span>  Cancelar</span>
									</a>
								</div>
							</div>
						</form>
						<div class="info"></div>
					</div>
					{% endif %}
				</div>
			</div>
		</div>
	</div> <!--end container-->
	<!-- Modal -->
	<div class="modal fade" id="list_ingre" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header complement-1-b">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					<h4 class="modal-title" id="myModalLabel">Listado de ingredientes</h4>
				</div>
				<div class="modal-body">
					<div class="table-container">
						<table class="table table-hover">
							<thead>
								<th class="col-md-1"></th>
								<th class="col-md-6">Nombre</th>
								<th class="col-md-2">Stock</th>
								<th class="col-md-2">Precio/Unid</th>

							</thead>
							<tbody>
							{% for producto in productos %}
								<tr class="ing_seleccionable" id="ing_seleccionable_{{loop.index0}}">
									<td><input type="checkbox" class="form-control" data-value="{{ producto.id }}"></td>
									<td class="info_nombre">{{ producto.nombre }}</td>
									<td>{{ producto.stock }}  <span class="unidad">{{ producto.unidad }}</span></td>
									<td><span class="precio">{{ producto.precio }}</span> € / <span class="und_comp">{{ producto.unidadCompra }}</span> {{ producto.unidad }}</td>
								</tr>
								
							{% endfor %}

							</tbody>
						</table>
					</div>	
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-primary" onclick="anadirIngre()">Guardar</button>
					<button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>

				</div>
			</div>
		</div>
	</div><!--fin modal-->
</div>
{% endblock %}
    {% block javascript %}
        {{ parent() }}
			<script type="text/javascript" src="{{ asset('public/js/efectos.js') }}"></script>
			<script type="text/javascript" src="{{ asset('public/js/acciones.js') }}"></script>
    {% endblock %}