{% extends '::base.html.twig' %}
	{% block title %}Mis recetas - Gestor de cocina {% endblock %}
	{% block stylesheet %} 
		{{ parent() }}
		<link type='text/css' rel='stylesheet' href="{{ asset('public/css/star-rating.css') }}">
		
		
	{% endblock %}
		{% block body %}
			<div class='content'>
				
			<div class='container'>
				<div class='row row-grid'>
					<div class='col-md-12'>
						<a href="{{ path('nueva_receta') }}">
							<button class='btn btn-primary complement-1-b'><span class="glyphicon glyphicon-plus"></span> Nueva Receta</button>
						</a>
						<div class='btn-group pull-right'>
							<button class='btn btn-primary complement-1-b dropdown-toggle' type='button' data-toggle='dropdown'> 
								<span class="glyphicon glyphicon-list-alt"></span> Categorias  
								<span class='caret'></span>
							</button>
							<ul class='dropdown-menu filtro' role='menu'>
								<li>
								<a href="{{path('recetas')}}">Sin filtro</a>
								</li>
								<li class="divider"></li>
								{% for categoria in categorias %}
									<li>
										<a href="{{ path('filtro_cat', { 'categoria': categoria.id }) }}"> {{categoria.nombre}}</a>
									</li>
								{% endfor %}
								
							</ul>
						</div>
					</div>


				</div>
				<div id='panel-grid' class='panel panel-primary panel-view'>
					<div class='panel-heading complement-1-b'>
						<a data-toggle="collapse" data-parent="#accordion" href="#misrecetas">
							<strong>
								<span>  Mis recetas </span>
							</strong>
						</a>
						{# <span> 
							<strong> Mis recetas</strong>
						</span> #}
						{# <div class='btn-group pull-right dropdown-head-panel'>
							<button class='btn btn-primary complement-1-b dropdown-toggle' type='button' data-toggle='dropdown'> 
								Categorias  
								<span class='caret'></span>
							</button>
							<ul class='dropdown-menu filtro' role='menu'>
								<li>
								<a href="{{path('recetas')}}">Sin filtro</a>
								</li>
								<li class="divider"></li>
								{% for categoria in categorias %}
									<li>
										<a href="{{ path('filtro_cat', { 'categoria': categoria.id }) }}"> {{categoria.nombre}}</a>
									</li>
								{% endfor %}
								
							</ul>
						</div> #}
					</div>
					<div id="misrecetas" class="panel-collapse collapse in">
						<div class='panel-body'>
							<div class='row row-grid'>
							{% for receta in recetas if receta.creador.id == app.user.id %}
								<div class='col-sm-6 col-md-3'>
								
									<figure class='receta' data-id="{{ receta.id }}">
										<img class='img-rounded' alt='300x200' src="{{ asset(receta.foto) }}">
										<figcaption>
											<a class='nombre' href="">{{ receta.nombre }}</a>
											<p class='description info_hide'>{{ receta.descripcion }}</p>
											<div class='info-rec content-hide'>
												<input type="hidden" id="editable" value="true">
												<div id='slug_view'>{{ path('receta', { 'receta': receta.id }) }}</div>
												<div id='slug_edit'>{{ path('editar_receta', { 'receta': receta.id }) }}</div>
												<div id='slug_del'>{{ path('borrar_receta', { 'receta': receta.id }) }}</div>
												
												<p class='desc'>{{ receta.descripcion }}</p>
												<ul class='ingr list-group'>
													{% for key, ingre in ingredientes if ingre.receta.id == receta.id %}
														<li class="list-group-item" data-id="{{ingre.producto.id}}">{{ingre.producto.nombre}} <span class="badge">{{ingre.cantidad}} {{ingre.producto.unidad}}</span></li>

													{% else %}
														<li>No hay ingredientes</li>
													{% endfor %}
												</ul>
												<div class='precio'>{{ receta.precio }}</div>
												<div class='tiempo'>{{ receta.tiempo }}</div>
												{% if receta.categoria %}
												    <div class='categoria'>{{ receta.categoria.nombre }}</div>
												{% else %}
												 	<div class='categoria'>Sin categoría</div>
												{% endif %}
												{# <div class='categoria'>{{ receta.categoria.id }}</div> #}
												<div class='comensales'>{{ receta.comensales }}</div>
												<div class="nota_media">{{ receta.notamedia }}</div>
											</div>
										</figcaption>
									</figure>
								
								</div>
								{% else %}
									<div class='col-sm-6 col-md-3'>
											<figure class='receta' data-id="NULL">
												<img class='img-rounded' alt='300x200' src="{{ asset('public/img/no_image.png') }}">
												<figcaption>
													<a class='nombre' href="">No hay resultados</a>
												</figcaption>
											</figure>	
									</div>
								{% endfor %}
							</div>
						</div>
					</div>
				</div>
				<div id='panel-grid' class='panel panel-primary panel-view'>
					<div class='panel-heading complement-1-b'>
						<a data-toggle="collapse" data-parent="#accordion" href="#recetas">
							<strong>
								<span>  Todas las recetas</span>
							</strong>
						</a>
						{# <span> 
							<strong> Mis recetas</strong>
						</span> #}
			{# 			<div class='btn-group pull-right dropdown-head-panel'>
							<button class='btn btn-primary complement-1-b dropdown-toggle' type='button' data-toggle='dropdown'> 
								Categorias  
								<span class='caret'></span>
							</button>
							<ul class='dropdown-menu filtro' role='menu'>
								<li>
								<a href="{{path('recetas')}}">Sin filtro</a>
								</li>
								{% for categoria in categorias %}
									<li>
										<a href="{{ path('filtro_cat', { 'categoria': categoria.id }) }}"> {{categoria.nombre}}</a>
									</li>
								{% endfor %}
								
							</ul>
						</div> #}
					</div>
					<div id="recetas" class="panel-collapse collapse">
						<div class='panel-body'>
							<div class='row row-grid'>
							{% for receta in recetas  %}
								<div class='col-sm-6 col-md-3'>
									<figure class='receta' data-id="{{ receta.id }}">
										<img class='img-rounded' alt='300x200' src="{{ asset(receta.foto) }}">
										<figcaption>
											<a class='nombre' href="">{{ receta.nombre }}</a>
											<p class='description info_hide'>{{ receta.descripcion }}</p>
											<p>{{ receta.creador.nombre }} {{ receta.creador.apellidos }}</p>
											<div class='info-rec content-hide'>
												{% if receta.creador.id == app.user.id %}
													<input type="hidden" id="editable" value="true">
												{% else %}
													<input type="hidden" id="editable" value="false">
												{% endif %}
												<div id='slug_edit'>{{ path('editar_receta', { 'receta': receta.id }) }}</div>
												<div id='slug_del'>{{ path('borrar_receta', { 'receta': receta.id }) }}</div>
												<p class='desc'>{{ receta.descripcion }}</p>
												<ul class='ingr list-group'>
													{% for key, ingre in ingredientes if ingre.receta.id == receta.id %}
															<li class="list-group-item" data-id="{{ingre.producto.id}}">{{ingre.producto.nombre}} <span class="badge">{{ingre.cantidad}} {{ingre.producto.unidad}}</span></li>

													{% else %}
														<li>No hay ingredientes</li>
													{% endfor %}
												</ul>
												<div class='precio'>{{ receta.precio }}</div>
												<div class='tiempo'>{{ receta.tiempo }}</div>
												           
												{% if receta.categoria %}
												    <div class='categoria'>{{ receta.categoria.nombre }}</div>
												{% else %}
												 	<div class='categoria'>Sin categoría</div>
												{% endif %}
												<div class='comensales'>{{ receta.comensales }}</div>
												<div class="nota_media">{{ receta.notamedia }}</div>
											</div>
										</figcaption>
									</figure>
								
								</div>
								{% else %}
									<div class='col-sm-6 col-md-3'>
											<figure class='receta' data-id="NULL">
												<img class='img-rounded' alt='300x200' src="{{ asset('public/img/no_image.png') }}">
												<figcaption>
													<a class='nombre' href="">No hay resultados</a>
												</figcaption>
											</figure>	
									</div>
								{% endfor %}
							</div>
						</div>
					</div>
				</div>

			</div>
			<div id='modal-prepare' class="modal fade" tabindex='-1' role='dialog'  aria-labelledby='ModalLabel' aria-hidden='true'>
				<div class="modal-dialog">
					<div class='modal-content'>
						<div class='modal-header complement-1-b'>
							<button class='close' type='button' data-dismiss='modal' aria-hidden='true'> ×</button>
							<div class='modal-title'>
								<span id='ModalLabel' class='col-md-9'></span>

								<div class='btn-group btn-group-sm' id="panel-edit">
										<button data-href="" id='edit' class="btn btn-primary complement-1-b" >
											<span class='glyphicon glyphicon-edit'></span>
										</button>
										<button data-href="" data-type="delete" id='delete' class='btn btn-danger'>
											<span class='glyphicon glyphicon-trash' ></span>
										</button>
								</div>
							</div>
						</div>
						<div class='modal-body'>
							<div class='row'>
								<div class='col-md-4'>
									<div id='img-rec'></div>
								</div>
								<div class='col-md-6'>
									<h4> Ingredientes </h4>
									<ul class='ingr'></ul>
								</div>
							</div>
							<div class='row'>
								<div class='col-md-12'>
									<h4> Preparación <span class='tiempo'></span></h4>
								</div>
								
							</div>
							
							<p class='desc'></p>
							<table class='info_pr_rec table'>
								<thead>
									<tr>
										<th class='col-md-4'> Precio / pers</th>
										<th class='col-md-4'> Comensales</th>
										<th class='col-md-4'> P. Total</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td class='precio'></td>
										<td class='comensales'></td>
										<td class='pr-total'></td>
									</tr>
								</tbody>
							</table>
							<div class='row'>
								<div class='col-md-12'>
									<h4> Categoría: <i><span class='categoria'></span></h4></i>
								</div>
							</div>
							<div class="row">
								<div class="col-md-8">
								<input id="valoracion" type="number" class="rating" min=0 max=5 step=1 data-size="xs">
								<input type="hidden" id="val_receta" data-url="{{path('valorar')}}" data-userid="{{ app.user.id }}" >
								</div>
								<div class="col-md-4">
									<div class="notamedia">
										<span>Nota media</span>
										<span id="notamedia"></span>
									</div>
									
								</div>
							</div>
							
							
						</div>						
						<div class='modal-footer'>
							<div class="col-md-6">
								<input class="col-md-4" name="comensales">
							</div>

							<button id="prepare_rec" data-userid="{{ app.user.id }}" data-url="{{path('genSolicitud')}}" type='button' class='btn btn-primary complement-1-b'> Preparar</button>
							<button class='btn btn-danger' type='button' data-dismiss='modal' > Cancelar</button>
						</div>

					</div>
					
				</div>
			</div>
			<div id="notification"></div>
			
		</div>
	{% endblock %}
    {% block javascript %}
        {{ parent() }}
        	<script type="text/javascript" src="{{ asset('public/js/bootstrap.touchspin.js') }}"></script>
        	<script type="text/javascript" src="{{ asset('public/js/jquery.confirm.js') }}"></script>
        	<script type="text/javascript" src="{{ asset('public/js/star-rating.js') }}"></script>
        	<script type="text/javascript" src="{{ asset('public/js/valoracion.js') }}"></script>

			<script type="text/javascript" src="{{ asset('public/js/efectos.js') }}"></script>
			<script type="text/javascript" src="{{ asset('public/js/acciones.js') }}"></script>

    {% endblock %}
	 
    
